<!doctype html>
<html lang="en">
<head>
<title>Update Product</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Softball Registration Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href="//fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
<!-- /font files -->
<!-- css files -->
<link href="/css/style1.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
<link href="/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="banner-main">
		<div class="center-container">
			<h1 class="header" style="text-align: center; padding-top:20px; font-size:20px;">UPDATE PRODUCT</h1>
			<div class="content-top">
				<div class="content-ls">
					<div class="form">
						<form action="/products/update/<%= product._id %>" method="post">
							<div class="content">
								<div class="grid-agileits1">
									<div class="form-control"> 
										<label class="header">Product Name</label>
										<input type="text" id="name" name="name" value="<%= product.name %>" title="Please enter the Product Name" required="">
									</div>
									
							<div class="form-control Insurance"> 
									<label class="header">Description</label>
									<textarea  name="description" value="<%= product.description %>" title="Enter a description" required=""></textarea>
							</div>
									
									
					<div class="form">
						<div class="form-control">	
							<label class="header">Price</label>
							<input type="text" id="name" name="price" value="<%= product.price %>" title="Please enter a Price" required="">
						</div>					
						<div class="form-control"> 
							<label class="header">Vendor Name </label>
							<input type="text" id="name" name="vendorname" value="<%= product.vendorname %>" title="Please enter your  Name" required="">
						</div>	
<div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
<!--
	<label class="header">Upload Product Image</label>
                <div class="tm-product-img-dummy mx-auto">
                  <i
                    class="fas fa-cloud-upload-alt tm-upload-icon"
                    onclick="document.getElementById('fileInput').click();"
                  ></i>
                </div>
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" style="display:none;" />
                  <input
                    type="button"
                    class="btn btn-primary btn-block mx-auto"
                    value="UPLOAD PRODUCT IMAGE"
                    onclick="document.getElementById('fileInput').click();"
                  />
				</div> -->
						<div class="form-control"> 
							<label class="header">Image URL </label>
							<input type="text" id="name" name="imgurl" value="<%= product.imgurl %>" title="Please enter the image url" required="">
						</div>
						<div class="form-control"> 
							<label class="header">Brand </label>
							<input type="text" id="name" name="brand" value="<%= product.brand %>" title="Please enter a Brand" required="">
						</div>
						<!-- <div class="form-control">
								<label class="header">Category </label>		
									<select class="form-control">
										<option></option>
										<option>Feed</option>
										<option>Health-Care</option>
										<option>Aquaculture Equipment</option>
										<option>Toolkit</option>
									</select>
						</div> -->
						<div class="form-control"> 
							<label class="header">Category </label>
							<input type="text" id="name" name="category" value="<%= product.category %>" title="Please enter a Category" required="">
						</div>
                        <div class="form-control"> 
							<label class="header">Vendor Loction </label>
							<input type="text" id="name" name="vendorlocation" value="<%= product.vendorlocation %>" title="Please enter a location" required="">
						</div>
							
									  <input type="submit" value="Update Product">
									  </form>
					</div>	
</div>
							
				


			
					<div class="clear"></div>
				</div>
			</div>	
				
				
		</div>
	</div>

<!-- Calendar -->
				<link rel="stylesheet" href="/css/jquery-ui.css" />
				<script src="/js/jquery-ui.js"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->
			<script type="text/javascript" src="/js/wickedpicker.js"></script>
			<script type="text/javascript">
				$('.timepicker').wickedpicker({twentyFour: false});
			</script>
</body>
</html>
